banner{
  background-color: #16182a87;
  min-height: 95vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image:url(../img/banner_background.png);
 /*   background-image:  url("7.gif"); */
 /* background-image: url(banner_background.png), url("1.gif"); */
   background-blend-mode: screen;   
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* efecto: glitch */
  /* background-image: url(banner_background.png), url("8.gif");background-blend-mode: multiply;  */
}
banner h1{
  font-family: "Staatliches", sans-serif;
  font-size: 5.5em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 100;
  line-height: 0.85em;
  margin-bottom: 15px;
  
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;

}
@media only screen and (max-width: 768px){
  banner h1 {
    margin-bottom: 30px;
  }
}

banner #social_links_container{
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 25px;
  margin-top: 7px;
}
#social_links_container a {
padding: 6px;
padding-top: 11px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 9px;
border-radius: 6px;
margin-left: 10px;
margin-right: 10px;
color: white;
/* background-color: #1b1c2b!important; */
opacity: 0;
animation-name: bounceIn;
animation-duration: 450ms;
animation-timing-function: linear;
animation-fill-mode: forwards;
}

#twitter_btn {
background-color: #2daae2;
fill: white;
animation-delay: 1s;
}
#facebook_btn {
background-color: #4064ac;
fill: white;
animation-delay: 1.10s;
}
#github_btn {
background-color: #1b1c2b;
fill: white;
animation-delay: 1.20s;
}
#instagram_btn {
background-color: #b12388;
fill: white;
animation-delay: 1.30s;
}
#kofi_btn{
display: block;
color: white;
-webkit-font-smoothing: antialiased;
text-align: center;
padding: 15px;
-webkit-clip-path: polygon(0 3%,0 33%,1.5% 45%,2% 99%,53% 97%,100% 100%,99.5% 70%,98% 44%,99% 1%,65% 3%,36% 1%);
clip-path: polygon(0 3%,0 33%,1.5% 45%,2% 99%,53% 97%,100% 100%,99.5% 70%,98% 44%,99% 1%,65% 3%,36% 1%);
background-color: #8cbf20;
background-color: #2088bf;

font-family: "Quicksand", sans-serif;
font-weight: 700;

 /* background-color: #1b1c2b!important; */
 opacity: 0;
animation-name: bounceIn;
animation-duration: 450ms;
animation-timing-function: linear;
animation-fill-mode: forwards;
animation-delay: 2.00s;


background-color: #17bee5;
padding: 0px;
width: fit-content;
margin: auto;

cursor: pointer;
}
#kofi_btn img {
height: 55px;
margin-left: 15px;
margin-right: 15px;
}