/*   
Name: julif.github.io
Author: Julif
*/
body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px auto;
}
nav{
   text-align: center;
   padding-bottom: 20px;
   padding-top: 20px;
   background-color: #111c29;
   color: #97a0ad;
   text-transform: capitalize;
}
nav a{
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  margin-left: 6px;
  margin-right: 6px;
  color: #97a0ad;
}
.active{ 
 color: white;
}
h1{ 
  text-align: center; 
  
  padding-left: 10px;
  padding-right: 10px;

}
.center{
  text-align: center;
}
main{
  max-width: 900px;
  margin: 0px auto;
  font-size: 1.1rem;
}
#publicaciones{
  display: flex;
  flex-wrap: wrap;
}
article{
  display: flex;
  margin: 0.5%;
  background-color: white;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0.9%;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(201,201,201,37%);
  -moz-box-shadow: 0px 0px 0px 2px rgba(201,201,201,37%);
  box-shadow: 0px 0px 0px 2px rgb(201 201 201 / 37%);
}
#entrada p {
  font-family: "proxima-nova",sans-serif !important;
  font-size: 18px !important;
  line-height: 1.3 !important;
  color: #444;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  text-align: inherit;
}
a{
  color: black;
  font-weight: 600;
}
blockquote {
  background-color: #dcdee4;
  padding: 50px;
}
#entrada img{    width: 100%;
  height: auto;}
article .post_thumbnail{    
  background-color: #afafaf;
    height: 100%;
    width: 23%;
}
article .thumbnail {
    background-image: url("img/default.png");
    background-repeat: no-repeat;
    display: block;
    background-color: #ebebeb;
    background-size: cover;
    background-position: top center;
    margin: 5px;
    height: 100%;
    width: 100%;
    margin: 0;
}
article .post_content{
  padding-left: 15px;
  padding-right: 15px;
}
.post_snippet{
  margin: 10px;
}
#fecha{
  color: #a2a0b9;
}
#entrada{
  padding: 10px;
}
  .post_full{
    display: none;
  }
article h2{margin-bottom: 5px;}
article  a  {
  text-decoration: none;
  color: black;
}
article .post_date{
 
  color:  #00000082;
}
.mystyle article{
  /* width: 25%; */
  /* width: 33%; */
  width: 32%;
  /* width: 50%; */
  /* width: 100%; */
  /* background-color: #e6e4e4; */
  height: 283px;
  /* margin: 0.5%; */
  text-align: center;

  padding: 0px;
  

}



.post_class_full{
  /* background-color: red; */
}
.post_class_full  .post_thumbnail{display: none;}
.post_class_full  .post_snippet{display: none;}
.post_class_full  .post_full{display: inherit;}
.post_class_full h2{text-align: center;    font-size: 1.9em;}
.post_class_full .post_full img{ width: 100%; height: auto;}
.post_class_full article{box-shadow: none;}
.post_class_full  article .post_date {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}


.post_class_block{
   /* background-color: red;  */
   display: flex;
   flex-wrap: wrap;
}
.post_class_block article{
  /* width: 25%; */
  /* width: 33%; */
  width: 32.3%;
  /* width: 50%; */
  display: grid;
  display: block;
  /* width: 100%; */
}
/* .post_class_block  article .post_thumbnail {height: auto;} */
.post_class_block  article .post_thumbnail {
  background-color: #afafaf;
  height: 170px;
  width: 100%;
}

.post_class_block article h2 {
  margin-bottom: 5px;
  text-align: center;
}
.post_class_block article .post_date {
  color: #00000082;
  display: block;
  text-align: center;
}
.post_class_block  .post_snippet{
  /* background-color: #f3f3f3; */
  padding: 8px;
}

.post_class_lista{
  /* background-color: red;   */
  display: flex;
  flex-wrap: wrap;
}


/* .post_class_block .post_thumbnail {width: 100%;} */
/* .post_class_block .thumbnail img{ display: block;    width: 100%;
  height: auto;} */



  #container_btn_post{    text-align: end;
  margin: 10px;}
  #container_btn_post .active{ 
    color: red;
}

.thumbnail img{display: block;
  display: none;
}
/* @media only screen  and (max-width: 800px) {
article .post_thumbnail {
  width: 31%;
  width: 200px;
    display: table;
}
 } */
 @media only screen  and (max-width: 800px) {
 



  .post_class_lista{display: block;}
  .post_class_lista .thumbnail img {display: none;}
  .post_class_lista article {
    display: table;
    display: flex;
    padding-left: 5px;
    align-items: center;
    margin: 0;
    margin-top: 10px;
    background-color: white;
    overflow: hidden;
    box-shadow: none;
}
.post_class_lista  article .post_date {display: none;}
.post_class_lista  article .post_snippet{ display: none;}
.post_class_lista article .post_thumbnail {
  overflow: hidden;
  /* width: 100px; */
  /* height: 100px; */
  /* display: contents; */
  display: inline-table;
  width: 120px;
  height: 72px;
}
.post_class_lista article h2 {
  margin-bottom: 5px;
  font-size: 20px;
  text-align: initial;
}






.post_class_block article {width: 100%;}
.post_class_block article .post_thumbnail {
  background-color: #afafaf;
  /* height: 170px; */
  width: 100%;
  height: auto;
}
.post_class_block  .thumbnail img {
  display: block;
  /* display: none; */
  height: auto;
  width: 100%;
}
h1 {font-size: 2em!important; }
main {
  min-height: 55.7%!important;
  padding-bottom: 25px;
}




}
@media only screen and (orientation: landscape) and (max-width: 800px) {

  .post_class_block article {
    /* width: 49%; */
    width: 32.3%;
}
 }


footer {
  /* margin-top: -58px;
  margin-top: -138px; */
  background-color: #111c29;
  padding: 25px;
  padding-bottom: 60px;
  padding-top: 60px;
  color: #97a0ad;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  margin-top: 10px;
}
footer  .footer_copyrigth_container{
  color: white;
  text-align: center;
}
@media (max-width: 992px){
  footer  .footer_copyrigth_container{
    text-align: center;
}

}





html, body{
  height:100%;
}
main{
 
   min-height: 74.6%;
  /* padding-bottom: 60px;
  box-sizing: border-box; */
  padding-bottom: 25px;
}
footer{
  /* margin-top: -58px; */
}