/*   
Name: julif.github.io
Author: Julif
*/
body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav{
   text-align: center;
   margin-top: 20px;
   padding-bottom: 20px;
   border-bottom: solid 2px #eff0f17d;
}
nav a{
  font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    margin-left: 6px;
    margin-right: 6px;
    color: #565656;
}
.active{ 
 color: #6178ce;
}
h1{ text-align: center; }
main{
  max-width: 900px;
    margin: 0px auto;
    font-size: 1.1rem;
}

