body{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #e3e7ee;
  }
  h1 {
    color: #dc4141;
}
#main {
    max-width: 800px;
    margin: 0px auto;
    /* background-color: #cecece; */
    display: flex;
    justify-content: center;
    /* height: 800px; */
}
#publicaciones {
    display: block;
    /* background-color: red; */
    /* max-width: 900px; */
    /* margin-top: 30px; */
    width: 100%;
     /* margin-top: 30px;  */
    /* background-color: white; */
    /* padding: 30px; */
}
article{ 
  background-color: white;
  margin-bottom: 20px;
       padding: 30px;
}
#publicaciones img{ width: 100%; height: auto; }
.post_date{
  color: #9a9ea7;
}




iframe {
  width: 100%;
  margin-top: 10px;
  background-color: #101017 ;
  /* background-color: #444648; */
}
.wp-block-embed__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* padding-top: 25px; */
  margin-bottom: 20px;
  height: 0;
}
.wp-block-embed__wrapper iframe{position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; }





   #btn_darkmode{
    background-color: transparent;
    /* color: white; */
    border: none;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 20px;
  }



  .dark-mode {
    background-color: black;
    color: white;
  }
  .dark-mode article{ background-color:#1c1c21;}
  .dark-mode #btn_darkmode{ background-color: #1c1c21;}
  .dark-mode .post_date{ color: #4b4b69;}




  .dark-mode article{ background-color:#2d3b4c;}
  .dark-mode #btn_darkmode{ background-color: #2d3b4c;}
  .dark-mode {
    background-color: #243140;
    color: #6f8aa2;
  }